.header {
  margin:auto;
  max-height: 980px;
  max-width: 1440px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.9);
}

.container {
  max-height: 980px;
  max-width: 1440px;
  margin: 0 auto
}

.header__photo {
  position: relative;
  width: auto;
}

.header__logo {
  position: absolute;
  z-index: 1;
  width: 26.51px;
  height: 55.97px;
  margin-left: 60px;
  margin-top: 17px;
  top: 20px;
}

