body{
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  min-height: 100%;
  /* font-family: "PT Sans", sans-serif; */
  font-size: 18px;
  line-height: 21px;
  padding: 0 40px;
  /* color: #333333; */
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); */
}

.menu {
  display: flex;
  align-items: center;
}

/* .header {
  margin:auto;
  max-height: 980px;
  max-width: 1440px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.9);
}

.container {
  max-height: 980px;
  max-width: 1440px;
  margin: 0 auto
}

.header__photo {
  position: relative;
  width: auto;
}

.header__logo {
  position: absolute;
  z-index: 1;
  max-width: 160px;
  max-height: 55.97px;
  margin-left: 60px;
  margin-top: 17px;
  top: 20px;
}

.header__logo-text {

  /* text-decoration: underline; */
} */
